services:
  db:
    image: postgres:15
    container_name: trimium_barber_shop-api-db
    environment:
      POSTGRES_DB: trimium_barber_shop-api-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    restart: unless-stopped

volumes:
  postgres_data:
